.section-01{
  height: 1957px;
  background-image: url('../images/pc-head-bck@2x.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px 1957px;
}
header {
  width: 100%;
  height: 110px;
  background-color: var(--base-blue);
}
.header-top {
  display: flex;
  width: 880px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
}
.header-top-left {
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header-top_p {
  font-size: 24px;
  color: var(--base-darkblue);
}

.header-top-catch {
  display: grid;
  width: 429px;
  height: 34px;
  background-color: var(--base-darkblue);
  border-radius: 17px;
  color: white;
  line-height: 1.2;
  text-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.header-top-cta-btn_a {
  display: block;
  width: 302px;
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header-top-cta-btn_img {
  display: block;
  width: 100%;
  height: auto;
}
.section-01 h1 {
  margin-top: 8px;
  font-size: 65px;
  font-weight: 600;
  letter-spacing: -0.08em;
  line-height: 1;
  color: var(--base-darkblue);
}
.section-01 h2{
  width: fit-content;
  margin-top: 50px;
  background-color: var(--text-pink);
  color: white;
  font-size: 33px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1;
}
.fv_p{
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-black);
  line-height: 1.467;
}

.fv_th{
  width: 100%;
  margin-top: 260px;
  padding: 20px 0;
  font-size: 36px;
  line-height: 1.222;
  color: white;
  text-align: center;
  background-color: var(--base-darkblue);
}
.fv-1st_td{
  width: 100%;
  padding-top: 36px;
  font-size: 36px;
  font-weight: 600;
letter-spacing: 0.06em;
color: var(--base-darkblue);
text-align: center;
background-color: white;
}
.fv-2nd_td{
  padding: 20px;
  text-align: left;
  background-color: white;
}
.fv-2nd_td ul li{
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.016em;
  color: var(--text-black);
}
.fv-2nd_td ul li::before{
  /* チェックボックス */
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url('../images/check-box@2x.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
  top:0.2em;
}
.fv-copy{
  width: fit-content;
  margin: 54px auto;
  font-family: "Meiryo", "メイリオ", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--base-darkblue);
  text-align: center;
  letter-spacing: -0.03em;
  line-height: 1.5;
}
.fv-memo{
  width: fit-content;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Meiryo", "メイリオ", sans-serif;
  position: relative;
}
.fv-memo::before{
  content: '※';
  position: absolute;
  left: -1.2em;
}

/*  */
/*  */


@media screen and (min-width: 961px) {
}
