.section-01 {
  width: 100%;
  height: 1957px;
  background-image: url("../images/pc-head-bck@2x.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px 1957px;
  background-color: #b4d4fc;
}
header {
  width: 100%;
  height: 110px;
  background-color: var(--base-blue);
}
.header-top {
  display: flex;
  width: 880px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
}
.header-top-left {
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header-top_p {
  font-size: 24px;
  color: var(--base-darkblue);
}

.header-top-catch {
  display: grid;
  width: 429px;
  height: 34px;
  background-color: var(--base-darkblue);
  border-radius: 17px;
  color: white;
  line-height: 1.2;
  text-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.header-top-cta-btn_a {
  display: block;
  width: 302px;
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header-top-cta-btn_img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 3px 5px #666666);
  transition: all 0.3s;
}
.header-top-cta-btn_img:hover {
  filter: drop-shadow(0px 3px 5px #333333);
}
.fv-2nd_td ul li::before {
  /* チェックボックス */
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../images/check-box@2x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
  top: 0.2em;
}

.fv-copy {
  width: fit-content;
  margin: 54px auto;
  font-family: "Meiryo", "メイリオ", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--base-darkblue);
  text-align: center;
  letter-spacing: -0.03em;
  line-height: 1.5;
}
.section-01 .fv-copy {
  margin-top: 1270px;
}
.fv-memo {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Meiryo", "メイリオ", sans-serif;
  position: relative;
  margin: 0 auto;
}
.fv-memo::before {
  content: "※";
  position: absolute;
  left: -1.2em;
}

@media screen and (max-width: 960px) {
  .section-01 {
    height: auto;
    background-size: 200vw 203.854vw;
  }
  header {
    height: 11.458vw;
  }
  .header-top {
    width: 91.667vw;
  }
  .header-top_p {
    font-size: 2.5vw;
  }
  .header-top-catch {
    width: 44.688vw;
    height: 3.542vw;
    margin-bottom: 0.833vw;
  }
  .header-top-cta-btn_a {
    width: 31.458vw;
  }
  .fv-memo {
    display:block;
    width:fit-content;
    margin: 0 auto;
    font-size: clamp( 10px, 1.354vw, 13px);
  }
  .fv-copy {
    margin: 5.625vw auto;
    font-size: 3.75vw;
  }
  .section-01 .fv-copy {
  margin-top: 132.292vw;
}

}
