.section-02 {
  padding: 96px 0 104px;
  background-image: url("../images/pc-sc02-bck@2x.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.section-02 img {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

@media screen and (min-width: 961px) {
}
