.section-02 {
  width: 100%;
  padding: 96px 0 100px;
  background-image: url("../images/pc-sc02-bck@2x.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.section-02 img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 960px) {
  .section-02 {
    padding: 8.854vw 0 10.417vw;
  }
}
