.section-04 {
  padding: 100px 0 96px;
  /* height: 2320px; */
  background-image: url("../images/pc-sc04-bck@2x.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.section04-title_img {
  display: block;
  width: 883px;
  height: auto;
  margin: 0 auto 32px;
}
.section-04 h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.625;
  text-align: center;
  color: var(--base-darkblue);
}
.section-04 h3 {
  width: fit-content;
  margin: 56px auto 32px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.06em;
  color: var(--base-darkblue);
}
.section04-title2_img {
  display: block;
  width: 721px;
  height: auto;
  margin: 56px auto 32px;
}
.sc04-pic {
  width: 100%;
  height: auto;
}
.section-04_p {
  margin-top: 56px;
}
.sc04-voices {
  display: grid;
  margin: 35px auto 50px;
  /* width: fit-content; */
  width: 100%;
  /* margin: 0 auto; */
  gap: 33px 24px;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
}
.sc04-card {
  width: 100%;
  height: auto;
  background-color: white;
  /* filter: drop-shadow(5px 5px 5px #777777); */
  box-shadow: 0px 5px 5px #cccccc;
}
.sc04-card_img {
  display: block;
  width: 100%;
  height: auto;
}
.sc04-card-text {
  width: 100%;
  padding: 0 13px 10px 22px;
  font-family: "Meiryo", "メイリオ", sans-serif;
}
.sc04-card-name_p {
  font-weight: bold;
  font-size: 18px;
  line-height: 4.615;
  text-align: center;
}
.sc04-card-voice_p {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
}

.sc04-card-memo_p {
  width: 100%;
  text-align: right;
  font-size: 13px;
  line-height: 2;
}

@media screen and (max-width: 960px) {
  .section-04 {
    padding: 10.4167vw 0 10vw;
    height: unset;
    background-image: url("../images/pc-sc04-bck@2x.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .section04-title_img {
    display: block;
    width: 91.9791vw;
    height: auto;
    margin: 0 auto 3.233vw;
  }

  .section04-title2_img {
    display: block;
    width: 75.104vw;
    height: auto;
    margin: 5.833vw auto 3.333vw;
  }
  .sc04-pic {
    width: 100%;
    height: auto;
  }
  .section-04_p {
    margin-top: 5.833vw;
  }
  .sc04-voices {
    display: grid;
    margin: 3.646vw auto 5.208vw;
  }
}
