.section-05 {
  padding: 70px 0 72px;
  background-image: url("../images/pc-sc05-bck@2x.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.sc05-title_img.pc-none,
.profile_img.pc-none {
  display: none;
}
.profile {
  width: 880px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 310px;
  padding-left: 85px;
  background-image: url("../images/pc-yuzu@2x.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Meiryo", "メイリオ", sans-serif;
  font-size: 18px;
}
.profile .name {
  font-size: 48px;
  font-weight: 600;
}
.profile .romaji {
  font-size: 24px;
}
.profile .title {
  margin-top: 100px;
  padding-bottom: 70px;
  line-height: 1.5;
}
@media screen and (max-width: 960px) {
  .section-05 {
    padding: 6.875vw 0 8.333vw;
    padding: 6.875vw 0 8.333vw;
    background-image: url("../images/sp-sc05-bck@2x.webp");
    height: auto;
  }
  .sc05-title_img.pc-none {
    display: block;
    width: 83.333vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .profile {
    width: 83.333vw;
    background-image: unset;
    margin: 35.417vw auto 0;
    padding-top: 9.375vw;
    padding-left: 4.167vw;
    padding-right: 4.167vw;
    font-size: 1.875vw;
    position: relative;
    border: solid 0.625vw;
    background-color: white;
    border-image: linear-gradient(45deg, #fbc2d5, #b3d4fc) 1;
  }
  .profile .name {
    margin-top: 1.0417vw;
    font-size: 5vw;
    text-align: center;
  }
  .profile .romaji {
    font-size: 2.5vw;
    text-align: center;
  }
  .profile .title {
    margin-top: 4.167vw;
    padding-bottom: 6.25vw;
    font-size: clamp(13px, 1.875vw, 18px);
    text-align: justify;
    background-color: white;
  }
  .profile .profile_img.pc-none {
    display: block;
    width: 35.833vw;
    height: auto;
    position: absolute;
    top: -32.083vw;
    left: 23.958vw;
  }
}
