.section-07{
    padding: 90px 0 100px;
    padding-bottom: 96px;
    background-image: url('../images/pc-sc07-bck@2x.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.section07-title_img{
    display: block;
    width: 591px;
    height: auto;
    margin: 0 auto 86px;
}




@media screen and (min-width: 961px) {

}
