.section-07{
    /* height: 1420px; */
    padding: 90px 0 100px;
    padding-bottom: 96px;
    background-image: url('../images/pc-sc07-bck@2x.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}





@media screen and (min-width: 961px) {

}
