.section-08 {
  padding: 90px 0 100px;
  background-image: url("../images/pc-sc08-bck@2x.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.section08-title_img {
  display: block;
  width: 603px;
  height: auto;
  margin: 0 auto 80px;
}

@media screen and (max-width: 960px) {
  .section-08 {
    padding: 90px 0 100px;
    padding: 9.375vw 0 10.417vw;
  }
  .section08-title_img {
    width: 603px;
    width: 62.8125vw;
    margin: 0 auto 80px;
    margin: 0 auto 8.333vw;
  }
}
