@charset "UTF-8";

/* リーリース時には消すこと!!! */
* {
  /* outline: 1px rgba(255, 0, 0, 0.8) solid; */
}
/* 変数の定義 */
:root {
  --content-width: 960px;
  --min-content-width: 375px;
  --base-blue: #b3d4fc;
  --base-pink: #fbc2d5;
  --base-darkblue: #003758;
  --text-pink: #f4558b;
  --text-black: #333333;
  --text-marker-yellow: #fff33f;
}
html {
  scroll-behavior: smooth;
}

body {
  /* コンテンツ幅でのフォントサイズ */
  font-family: "ヒラギノ角ゴ ProN W3", ArialMT, "Hiragino Kaku Gothic ProN",
    メイリオ, sans-serif;
  font-size: 18px;
}
.wbr {
  word-break: keep-all;
}
.narrow {
  letter-spacing: -0.2em;
}
.w960 {
  width: 960px;
  margin: 0 auto;
}
.title_h2 {
  width: fit-content;
  margin: 0 auto 0;
  font-size: 48px;
  font-weight: 600;
  color: var(--text-pink);
}
.title_h3 {
  width: fit-content;
  margin: 16px auto 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.458;
  letter-spacing: -0.1em;
  color: var(--base-darkblue);
}
.box-a {
  width: 100%;
  margin: 56px auto 0;
  padding: 60px 40px;
  background-color: white;
  box-shadow: 0px 5px 5px #cccccc;
  font-family: "Meiryo", "メイリオ", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.pc-flex {
  display: flex;
}
.text-marker-yellow {
  background: linear-gradient(
    transparent 3%,
    var(--text-marker-yellow) 3%,
    var(--text-marker-yellow) 92%,
    transparent 92%
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100%;
}
.text-red {
  color: red;
}
.text-pink {
  color: var(--text-pink);
}
.text-darkblue {
  color: var(--base-darkblue);
}
.text-bold {
  font-weight: bold;
}
.form-group {
  margin-bottom: 30px;
}
input[type="email"] {
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  padding: 8px;
  border-radius: 10px;
}
button {
  display: block;
  margin: 0 auto;
}
button img {
  display: block;
  width: 687px;
  height: auto;
  filter: drop-shadow(0px 5px 10px #666666);
  transition: all 0.3s;
}
button img:hover {
  filter: drop-shadow(0px 5px 10px #333333);
}
.fs-120px {
  font-size: 120px;
}
.fs-104px {
  font-size: 104px;
}
.fs-26px {
  font-size: 26px;
}
.fs-48px {
  font-size: 48px;
}
.fs-40px {
  font-size: 40px;
}
.fs-44px {
  font-size: 44px;
}
.fs-58px {
  font-size: 58px;
}
.fs-52px {
  font-size: 52px;
}
.section-inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}
.text-area_pic {
  display: block;
  width: 320px;
  height: 200px;
}
.text-area_img {
  display: block;
  width: 100%;
  height: auto;
}
/************************************************
    レスポンシブ */

@media screen and (max-width: 960px) {
  .sp-none{
    display: none;
  }
  input[type="email"] {
    width: 100%;
    width: 83.333vw;
    height: 7.604vw;
    font-size: clamp(10px, 1.354vw, 13px);
    margin: 0 auto;
    position:relative; 
    left:50%;
    transform: translateX(-50%);
  }
  .w960 {
    width: 100%;
    padding-left: 2.083vw;
    padding-right: 2.083vw;
  }
  .pc-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box-a {
    margin: 5.833vw auto 0;
    padding-top: 2.083vw;
    padding-left: 2.083vw;
    padding-right: 2.083vw;
    padding-bottom: 8.333vw;
    font-size: clamp(16px, 1.874vw, 18px);
  }
  .text-area {
    width: 100%;
    display: block;
    order: 2;
    padding-top: 1.5em;
  }
  .text-area_pic {
    width: 100%;
    height: auto;
    order: 1;
  }
  button img {
    width: 71.562vw;
  }
  .section-inner {
    width: 100vw;
    /* padding: 0 4.167vw; */
    width: 100%;
    /* background-color: #b4d4fc; */
    padding-bottom: 16px;
    margin: 0;
  }
  .form-group {
    margin-bottom: 3.125vw;
    position: relative;
  }
  .fv-memo {
    font-size: clamp(10px, 1.875vw, 18px);
    line-height: 1.5;
    font-family: "Meiryo", "メイリオ", sans-serif;
    position: relative;
    margin: 0 auto;
  }
  .text-area_img {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
